body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
	padding: 0;
	margin: 0;
}
/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}
/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
    background: lightgray ;
    color: black ;
}
input, textarea{
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}
#page{
    /* margin: 0.5rem ; */
    background: lightgray ;
    color: black ;
}
a{
	text-decoration: none;
	color: black;
}
.img-logo{
	width: 100px;
  padding-top: 20px;
  margin: 0 auto!important;
  z-index: 1px;
}
.img-logo-big{
	width: 70%;
  padding-top: 20px;
  margin: 0 auto!important;
  z-index: 1px;
}
.logo{
  background: #fff;
  width: 100%;
  height: 80px;
}
.form-login{
  text-align: center!important;
  border-radius: 20px;
  border: 1px solid lightgray!important;
  height: 50px;
  font-size: 20px!important;
}
.btn-login{
  font-size: 20px;
}
.form-login:active{
  border: 1px solid lightgray!important;
}
.ranking{
  margin-top: 20px;
}
.btn-ranking{
  padding: 10px;
  cursor: pointer;
}
.mainArea{
  padding: 0px;
  margin: 0 auto;
}
.loginArea{
  padding: 20px;
  margin-top: 50px;
}
.collapse-ranking{
  background: #0099ff!important;
  color: #FFF;
  margin: 0!important;
  text-align: center!important;
}
.collapse-ranking-imp{
  background: #067cca!important;
  color: #FFF;
  margin: 0!important;
  text-align: center!important;
}
#collapse > h3{
  padding-top: 5%!important;
  padding-bottom: 5%!important;
  margin: 0;
}
.ui-listview li {
    font-size: 1.5EM;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0!important;
    text-align: center;
}
.aluno{
  background: #eeeeff!important;
  padding: 5%;
}
.aluno-imp{
  background: #FFF!important;
  padding: 5%;
}

.pts{
  background: #0087a8!important;
  padding: 5%;
  color:#FFF;
}
.pts-imp{
  background: #006680!important;
  padding: 5%;
  color:#FFF;
}
.img-header{
  padding: 10px;
}
#footer{
  background: #000;
  color: #FFF;
}
#footer a{
  color: #FFF:
}
